* {
    border: 0px;
    padding: 0px; 
}

html body {
    background-image: url("./src/bg.jpg");
    background-color: lightblue;
    background-size: contain;
    min-height: 100vh;
}
.info {
    top: 0px;
}
.info-box {
    
    background-color: #ED5061;
    color: white;
}

.card-container {    
    .card-row {        
        .card-col {            
            .card-item {
            flex-shrink: 0;
            background-image: url('./img/img_bg.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            background-color: rgb(161, 128, 154);
            width: 100%;
            height: auto;
            border: 1px solid rgba(248, 248, 248, 0.657);
            border-radius: 15px;
            overflow: hidden;
            opacity: 1;
            img {
                width: inherit;
                height: inherit;                  
            }
            .opened {
                opacity: 1;
            }
            .closed {
                opacity: 0;
            }
            img {
                opacity: 0;
            }
            .found {
                opacity: 1;
            }

            }
              
        }
    }
}

